@media (min-width: 768px){
    .chkbox-div-st {
        margin-top: 55px;
    }
}

.chkbox-div-st {
    font-size: small;
}

#MainContainer {
    margin: auto;
    width: 80%;
}

.studysheet-icon {
    height:80px
}

.studysheet-placement {
    margin-top: 20px;
    width: 80%;
}

.verse-container-margin {
    margin: 1px;
}

