<div class='container-fluid'>
    <navbar></navbar>
    <div class='body-content'>
        <router-outlet></router-outlet>
    </div>
</div>
<nav-footer (addToStudySeetEvent)="onAddToStudySheet()"></nav-footer>

<div *ngIf="isVisible" id="check_div" class="text-center" @fade>        
    <p class="check-word">Added to Studysheet</p>
    <img src="/Image/check.svg" class="check-logo">
</div>

<div *ngIf="isLoading" id="ajax_bg">
    <img src="/Image/spinner.svg" class="spinner-logo">
</div> 
