<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand"><img src="/Image/logo.svg" class="logo"/></span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" style="padding-right:5px;">
                <li class="dropdown"
                    (mouseover)="onMouseover()"
                    (mouseleave)="onMouseleave()"
                    >
                 <a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">Info</a>
                 <ul class="dropdown-menu">
                   <li><a (click)="openVerseRef()">Verse Reference Examples</a></li>
                   <li><a (click)="openFootnote()">Footnotes</a></li>
                   <li><a (click)="openAbout()">About</a></li>
                 </ul>
               </li>
             </ul>
        </div>
    </div>
</div>
