<nav class="navbar-fixed-bottom footer">
    <div routerLinkActive="hidden">
        <a (click)="newMessage()"><img id="add_verse_btn" src="/Image/btn_add.svg" class="add_verse_img"></a>
        <a routerLink="studysheet"><img id="study_sheet_btn" src="/Image/study_sheet.svg" class="study_sheet_img"></a>
    </div>
    <div routerLinkActive="hidden">
        <a (click)="activateDeleteMode()" *ngIf="!isDeleteMode"><img id="delete_btn" src="/Image/delete.svg" class="delete_img"></a>
        <a (click)="escapeDeleteMode()" *ngIf="isDeleteMode"><img id="done_btn" src="/Image/done.svg" class="done_img"></a>
        <a (click)="escapeDeleteMode()" routerLink="home"><img id="search_btn" src="/Image/search.svg" class="search_img"></a> 
    </div>  
</nav>