.sm-delete-img {
    height: 35px;
    width: 35px;
    float: right;
    cursor: pointer;
}

.clear-float {
    clear:both;
    margin:0;
}

#verseContainer {
    padding: 5px;
    position: relative;
}

#containerBorder {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.red-border {
    border: red solid 1px;
}