/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0;
    padding: 3px 17px 3px 52px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0;
    font-size: 14px;
    color: #FFF;
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
    transition-property: opacity, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 3px;
    left: 0;
    width: 34px;
    height: 100%;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:hover {
    box-shadow: 1px 4px 4px 1px rgb(201, 201, 201);
    opacity: 0.9;
}