<div class="container-fluid">
  <div class="login-container">
    <div class="login-btn-container">
        <div>
          <google-signin-button (click)="loginWithGoogle()"></google-signin-button>
        </div>
        <div style="margin-top: 15px;">
          <facebook-signin-button (click)="loginWithFacebook()"></facebook-signin-button>
        </div>
        <div class="demo-info">
          <p>Demo Account (Google)</p>
          <p>Email: instaversedemo@gmail.com</p>
          <p>Password: instaverse!2</p>
        </div>
    </div>
  </div>
</div>
