.login-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-btn-container {
    display: inline-block;
    box-shadow: 0 0px 5px 0 #cccccc;
    min-height: 300px;
    padding: 40px;
}

.demo-info {
    margin-top: 50px;
    font-size: 13px;
    color: #5a5a5a;
}

.demo-info p {
    margin: 0;
}