<div class="container-fluid" @fade>
    <div id="search_page">
        <br>
        <br>
        <div class="row">      
        <div class="col-sm-3 "></div>
        <div class="col-sm-6 text-center">
            <div class="form-group">
                <textarea #searchBox class="form-control txt-area" rows="5" id="comment" placeholder="Gen 1:26; Ezek 1:26; John 3:16,18-20;"></textarea>
            </div>
            <br />
            <div *ngIf="errors?.length > 0" class="input-error">
                <p *ngFor="let e of errors">{{e.ref}}: {{e.text}}</p>
            </div>
            <br />         
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="srch-block">
                        <input (click)="fetch(searchBox.value)" type="button" value="Search" class="btn btn-primary btn-large">
                    </div>
                </div>
            </div>
        </div>      
        <div class="col-sm-3"></div>
        </div>
        <br>
    </div>
    <div id="MainContainer">
        <verse-container [verseGroup]="verseGroup"></verse-container>
    <div>
</div>