<div class="container-fluid" @fade>
    <div id="search_page">
        <br>
        <br>
        <div class="row">      
        <div class="col-sm-3 "></div>
        <div class="col-sm-6 text-center">
            <div class="form-group">
                <textarea #searchBox class="form-control txt-area" rows="5" id="comment"></textarea>
            </div>
            <br />
            <div *ngIf="errorStrings?.length > 0" class="input-error">
                    Input Errors:
                    <span *ngFor="let e of errorStrings">{{e}}; </span>
                </div>
            <br />         
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="srch-block">
                        <input (click)="fetch(searchBox.value)" type="button" value="Search" class="btn btn-primary btn-sm">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="checkbox-inline chkbox-div">
                        <span><input id="home_chk_footnote" type="checkbox">Footnotes</span>
                    </div>
                </div>
            </div>
        </div>      
        <div class="col-sm-3"></div>
        </div>
        <br>
    </div>
    <div id="HomeContainer">
        <verse-container [verseGroup]="verses"></verse-container>
    <div>
</div>